[submodule "MOM6"]
	path = MOM6
	url = https://github.com/theresa-morrison/MOM6.git
[submodule "SIS2"]
	path = SIS2
	url = https://github.com/theresa-morrison/SIS2.git
[submodule "FMS"]
	path = FMS
	url = https://github.com/theresa-morrison/FMS.git
[submodule "coupler"]
	path = coupler
	url = https://github.com/theresa-morrison/FMScoupler.git
[submodule "atmos_null"]
	path = atmos_null
	url = https://github.com/NOAA-GFDL/atmos_null.git
