[submodule "MOM6"]
	path = MOM6
	url = https://github.com/theresa-morrison/MOM6.git
[submodule "SIS2"]
	path = SIS2
	url = https://github.com/theresa-morrison/SIS2.git
[submodule "FMS"]
	path = FMS
	url = https://github.com/theresa-morrison/FMS.git
[submodule "coupler"]
	path = coupler
	url = https://github.com/theresa-morrison/FMScoupler.git
[submodule "atmos_null"]
	path = atmos_null
	url = https://github.com/NOAA-GFDL/atmos_null.git
[submodule "land_null"]
	path = land_null
	url = https://github.com/NOAA-GFDL/land_null.git
[submodule "icebergs"]
	path = icebergs
	url = https://github.com/NOAA-GFDL/icebergs.git
[submodule "mkmf"]
	path = mkmf
	url = https://github.com/NOAA-GFDL/mkmf.git
[submodule "ice_param"]
	path = ice_param
	url = https://github.com/NOAA-GFDL/ice_param.git
[submodule "Icepack"]
	path = Icepack
	url = https://github.com/CICE-Consortium/Icepack.git
